.main {
  display: flex;

  &__aside {
    max-width: 335px;
    width: 100%;
    background-color: aqua;
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
    background-color: aquamarine;
  }
}
